*,
::after,
::before {
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
}

body {
	color: $color-prototype-text;
	font-size: 14px;
	font-family: $base-font-family;
	overflow-x: hidden;
	min-height: 100vh;
}

svg {
	transition: $default-transition-time color, $default-transition-time fill;
}

img {
	max-width: 100%;
	height: auto;
	font-size: 0;
}

a {
	color: $color-dark;
	transition: $default-transition-time color;
	text-decoration: none;
}