.box {
  $block: &;

  background-color: $color-gallery;
  border-radius: 14px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include lg() {
      padding: {
        top: 14px;
        bottom: 14px;
        left: 18px;
        right: 18px;
      }
    }

    padding: {
      left: 6px;
      right: 6px;
      top: 10px;
      bottom: 10px;
    }
  }

  &__body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    &--cols {
      &--2 {
        #{$block}__item {
          max-width: auto;
        }
      }

      &--3 {
        #{$block}__item {
          max-width: calc(100% / 3);
        }
      }
    }
  }

  &__title {
    text-align: center;
    display: block;

    font: {
      size: rem(20px);
    }

    strong {
      color: $color-silver;
      font: {
        weight: 700;
      }
    }
  }

  &--static {
    #{$block}__inner {
      min-height: 111px;
    }
  }

  &--row {
    @include lg() {
      height: 100%;
    };
    
    #{$block}__inner {
      @include lg() {
        flex-direction: row;
        height: 100%;
      }
    }

    #{$block}__title {
      display: flex;
      align-items: center;

      @include from-xs-to-lg() {
        text-align: center;
        display: flex;
        justify-content: center;
      }

      @include lg() {
        margin-right: 30px;
      }

      font: {
        size: rem(15px);
      }

      strong {
        display: none;
      }
    }

    #{$block}__body {
      flex-grow: 1;
    }
  }
}