.dropdown {
  &__inner {
    position: relative;
  }

  &__button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-text {
      font: {
        size: rem(15px);
      }
    }

    &-icon {
      @include box(10px);
      fill: #000;
    }
  }

  &__menu {
    @include center("horizontal");
    top: 100%;
  }

  &__list {

  }

  &__item {

  }
}