.app-input {
  border-radius: 5px;
  // TODO
  // opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 52px;
  height: 28px;
  background-color: $color-gallery;
  margin-right: 10px;
  padding: {
    left: 5px;
    right: 5px;
  }

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font: {
    size: rem(15px);
  }
  
  border: none;
  
  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px $color-gray;
  }
  
  &:disabled {
    opacity: 0.4;
  }

  &--big {
    @include lg() {
      width: 100px;
    }

    // width: 70px;
  }
}