.app-input {
  border-radius: 5px;
  // TODO
  // opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 52px;
  height: 28px;
  background-color: $color-gallery;
  margin-right: 10px;
  font: {
    size: rem(15px);
  }
  
  border: none;
  
  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px $color-gray;
  }

  &--big {
    width: 100px;
  }
}