.item {
  $block: &;

  &__inner {
    @include box(100%);

    @include lg() {
      padding-left: 62px;
    }
    padding-left: 20px;
    border-radius: 14px;
    height: 50px;
    border: 1px solid $color-alto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--interactable {
    display: flex;
    align-items: center;
    
    #{$block}__inner {
      border-color: transparent;
      background-color: $color-gallery;
    }

    #{$block}__text {
      &-addon {
        color: $color-alto;
      }
    }
  }

  &__text {
    position: relative;
    font: {
      size: rem(15px);
    }

    &-addon {
      @include center('vertical');

      @include lg() {
        left: 100px;
      }
      left: 100px;
      color: $color-silver;
      font: {
        weight: 700;
        size: 15px;
      }
    }
  }

  &--ghost {
    opacity: 0.5;

    @include from-xs-to-lg() {
      display: none;
    }
  }
}