.list {
  $block: &;

  &__list {
    @include reset-list();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &__item,
  &__select,
  &__button {
    @include box(100%);
    // max-width: 524px;
  }

  &__item {
    cursor: pointer;

    @include from-xs-to-lg() {
      &:nth-child(n + 2) {
        margin-top: 10px;
      }
    }

    @include lg() {
      &:nth-child(n + 1) {
        margin-top: 10px;
      }
    }
    
    &--limited {
      max-width: 524px;
    }
  }

  &__button {
    background-color: $color-gallery;
    padding: 0;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;

    &-text {
      font-size: rem(15px);
    }

    &-plus {
      @include box(50px);
      background-color: $color-primary;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(30px);
      color: #fff;
      margin-right: 15px;
    }
  }

  &--scrollable {
    #{$block}__inner {
      overflow-y: auto;
    }
  }
}