.app-output {
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: {
    left: 5px;
    right: 5px;
  }
  min-width: 52px;
  min-height: 28px;
  background-color: $color-gallery;
  margin-right: 10px;
  font: {
    size: rem(15px);
  }

  &__text {
    min-width: 100%;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--promoted {
    background-color: $color-primary;
    color: #fff;
  }

  &--big {
    width: 70px;
    min-height: 25px;
  }

  &--large {
    width: 80px;
  }
}