.app-row {
  &__inner {
    display: flex;
    align-items: center;
    padding: {
      top: 8px;
      bottom: 8px;
    }

    @include from-xs-to-lg() {
      flex-wrap: wrap;
    }
  }

  &__input,
  &__output {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 52px;
    height: 28px;
    background-color: $color-gallery;
    margin-right: 5px;

    @include lg() {
      margin-right: 10px;
    }
    font: {
      size: rem(15px);
    }
  }
  
  &__input {
    border: none;
    
    &:focus {
      outline: none;
      box-shadow: 0 0 3px 1px $color-gray;
    }
  }

  &__output {
    &--promoted {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &__text {
    font: {
      size: rem(13px);
    }

    @include lg() {
      font: {
        size: rem(15px);
      }
    }

    @include lg() {
      margin-right: 20px;
    }

    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }

    &--center {
      text-align: center;
    }

    &-addon {
      color: $color-alto;
    }
  }
}