.toggler {
  $block: &;

  display: flex;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: $color-gallery;

  &__inner {
    position: relative;
    display: flex;
  }

  &__input {
    @include absolute($top: 0, $left: 0);
    @include box(100%);
    opacity: 0;
  }

  &__text {
    display: block;
    text-align: center;
    width: 150px;
    padding: 11px 8px;
    position: relative;
    color: #fff;
    font-size: rem(20px);
    transition: $default-transition-time color;
    
    @include lg() {
      width: 215px;
      font-size: rem(25px);
      padding: 21px 18px;
    }

    &--active {
      color: $color-gray;
    }
  }

  &__replacer {
    @include absolute($top: 0, $left: 0);
    height: 100%;
    width: 50%;
    border-radius: 15px;
    background-color: $color-primary;
    transition: $default-transition-time transform;
  }

  &--active {
    #{$block}__replacer {
      transform: translateX(100%);
    }

    #{$block}__text {
      color: $color-gray;
      &--active {
        color: #fff;
      }
    }
  }

  &--mini {
    padding: 2px 2px;
    border-radius: 5px;

    #{$block}__replacer {
      border-radius: 5px;
    }

    #{$block}__text {
      @include box(20px);
      padding: 0 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @include lg() {
        padding: 0 0;
      }
      font: {
        size: rem(15px);
      }
    }
  }
}

.toggler-advanced {
  $block: &;

  display: flex;
  border: 0.5px solid $color-silver-dark;
  padding: 5px 0;
  border-radius: 15px;

  @include lg() {
    padding: 10px 0;
  }

  &__inner {
    position: relative;
    align-items: center;
    display: flex;
  }

  &__input-wrap {
    position: relative;
  }

  &__input {
    @include absolute($top: 0, $left: 0);
    @include box(100%);
    opacity: 0;
  }

  &__text {
    display: block;
    position: relative;
    padding: 0 5px;
    font-size: 20px;
    color: $color-dark;
    transition: $default-transition-time color;

    @include lg() {
      font-size: 25px;
      padding: 0 15px;
    }

    &--active {
      color: $color-gray;
    }
  }

  &__replacer {
    width: 50px;
    height: 17px;
    border-radius: 9px;
    background-color: $color-gallery;
    display: flex;
    align-items: center;

    &-inner {
      position: relative;
      transition: $default-transition-time transform;

      &::after {
        content: '';
        @include center("vertical");
        @include box(23px);
        left: 0;
        border-radius: 50%;
        background-color: $color-primary;
      }
    }
  }

  &--active {
    #{$block}__text {
      color: $color-gray;
      &--active {
        color: $color-dark;
      }
    }

    #{$block}__replacer {
      &-inner {
        transform: translateX(50px - 23px);
      }
    }
  }
}