.calculator {
  &__title {
    display: block;
    text-align: center;

    @include lg() {
      margin-top: 150px;
      font: {
        size: rem(40px);
      }
    }

    margin-top: 50px;

    font: {
      size: rem(25px);
      weight: 700;
    }
  }

  &__togglers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__toggler {
    margin-top: 40px;

    &:nth-child(2) {

      margin-top: 25px;

      @include lg() {
        margin-top: 35px;
      }
    }
  }
}